* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  /* overflow-x: hidden; */
}
body {
  height: 100%;
}
.hfooter {
  padding-top: 8%;
  padding-bottom: 8%;
}
.privacya {
  display: block;
}
.privacyb {
  display: none;
}
.newfc {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
#drp {
  display: none;
}
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0;
  z-index: 1000;
}
.knowde {
  width: 100%;
  padding-top: 10px;
  background-image: linear-gradient(92deg, #ac6cec, #e80f5b);
}
.knowde .bg-color {
  background-image: linear-gradient(92deg, #ac6cec, #e80f5b);
}
.knowd-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
}
.welcome {
  font-size: 18px;
  color: #fff;
  white-space: nowrap;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.trial {
  font-size: 14px;
  color: #fff;
  white-space: nowrap;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.btn-color {
  width: 164px;
  height: 36px;
  border-radius: 18px;
  background-color: #00a99d;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  border: none;
  font-family: "Montserrat", sans-serif;
}
.btn-color:hover {
  color: #fff;
}
.btn-color:focus {
  outline: none;
  box-shadow: none;
}
.k {
  padding-right: 5%;
}
.knowde-second {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  background: #fff;
}
.iconKnowde {
  height: 100%;
  width: 110px;
}
.sign-button {
  display: block;
  border-radius: 50px;
  padding: 5px 16px;
  background: #ffffff;
  border: 1px solid #00a99d;
  font-weight: 600;
  letter-spacing: normal;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-size: 14px;
  line-height: 20px !important;
  text-align: center;
  color: #00a99d;
}
.sign-button:hover {
  color: #fff;
  background: #00a99d;
}
.sign-button:focus {
  outline: none;
  box-shadow: none;
}
.stext:hover {
  text-decoration: none;
}
.trial-third {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: normal;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
  border: none;
  outline: none;
  background-color: #fff;
}
/* .trial-third:hover {

} */
.trial-third:focus {
  outline: none;
}
.knowd-third {
  width: 100%;
  padding-left: 50%;
}
.knowt {
  padding-left: 7%;
}
.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sms {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}
.submain-container {
  background: url("https://res.cloudinary.com/deb7dco1z/image/upload/v1598594639716/production/Product/83837/hero_background/image.jpg")
    no-repeat center center;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.headerbox {
  width: 100%;
  height: 100%;
}
.icon-frame {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.subicon-frame {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  padding-left: 20%;
}
.sepi-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5%;
}
.sepi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sepi-icon {
  height: 128px;
  width: 128px;
  border-radius: 50% !important;
}

.newbutton-container {
  margin-bottom: -16px;
  margin-top: 30px;
}
.ulbutton {
  position: relative;
  display: inline-flex;
  list-style: none;
}
.libutton {
  padding: 15px;
  width: auto;
  height: 56px;
  margin-right: 8px;
  background-color: #f4f4f4;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}
.a {
  text-decoration: none;
}
.a:hover {
  text-decoration: none;
}
.lib:hover {
  text-decoration: none;
}
.main-modal {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -200px;
}
.modal-container {
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5%;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    #fff 0,
    #fff calc(100% - 57px),
    #f4f4f4 calc(100% - 56px),
    #f4f4f4 100%
  );
  box-shadow: 0 -5px 24px -8px rgba(0, 0, 0, 0.2);
}
.quote {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: normal;
  vertical-align: middle;
  font-family: "Montserrat", sans-serif;
}
.quote-second {
  line-height: 1px;
  font-size: 14px;
  font-weight: 400;
}
.quotecont {
  width: 90%;
}
.quotebutton {
  width: 100%;
  padding: 7px 16px;
  background-color: #e80f5b;
  border: 1px solid #e80f5b;
  border-radius: 20px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
}
.quotebutton:focus {
  outline: none;
}
.tds-button {
  display: block;
  border-radius: 50px;
  padding: 9px 30px;
  background: #ffffff;
  border: 1px solid #e80f5b;
  font-weight: 600;
  letter-spacing: normal;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-size: 14px;
  line-height: 20px !important;
  text-align: center;
  color: #e80f5b;
}
.tds-button:hover {
  cursor: pointer;
  color: #ffffff;
  background: #e80f5b;
}
.tds-button:focus {
  outline: none;
  box-shadow: none;
}
.sds-button {
  display: block;
  border-radius: 50px;
  padding: 9px 30px;
  background: #ffffff;
  border: 1px solid #e80f5b;
  font-weight: 600;
  letter-spacing: normal;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-size: 14px;
  line-height: 20px !important;
  text-align: center;
  color: #e80f5b;
}
.sds-button:hover {
  cursor: pointer;
  color: #ffffff;
  background: #e80f5b;
}
.sds-button:focus {
  outline: none;
  box-shadow: none;
}
.sample {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #00a99d;
  border: none;
  background-color: transparent;
}
.sample:hover {
  color: #00a99d;
}
.sample:focus {
  outline: none;
  background: transparent;
}
.oli {
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #00a99d;
}
.olig {
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}
.sepicinc {
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.oligtext {
  font-size: 2.5rem;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
.oligsectext {
  max-width: 730px;
  font-size: 1.3rem;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 800px) and (max-width: 1200px) {
  .sepicinc {
    font-size: 1rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }
  .oligtext {
    font-size: 1.8rem;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
  }
  .oligsectext {
    max-width: 530px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .sepicinc {
    font-size: 0.8rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }
  .oligtext {
    font-size: 1.5rem;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
  }
  .oligsectext {
    /* max-width: 530px; */
    font-size: 0.8rem;
    font-family: "Montserrat", sans-serif;
  }
}
@media (min-width: 900px) and (max-width: 990px) {
  .hfooter {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  .sepicinc {
    font-size: 0.7rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }
  .oligtext {
    font-size: 1.4rem;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
  }
  .oligsectext {
    /* max-width: 330px; */
    font-size: 0.7rem;
    font-family: "Montserrat", sans-serif;
  }
}

.modaltext {
  font-size: 44px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.textd {
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.quotebuttonsec {
  width: 40%;
  height: 60px;
  padding: 7px 16px;
  background-color: #e80f5b;
  border: 1px solid #e80f5b;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
.logintext {
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
.loginSectext {
  text-align: center;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #00a99d;
}
.quotebuttonsectext {
  font-size: 15px;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #fff;
}
.quotebuttonsectext:hover {
  text-decoration: none;
  color: #fff;
}
.logtext {
  text-align: center;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #00a99d;
}
.logtext:hover {
  color: #00a99d;
}
.socialicon {
  color: #fff;
}
.socialicon:hover {
  color: #fff;
}
.sp {
  color: #000;
}
.bg-color {
  background: rgba(0, 0, 0, 0.7);
}
.bridgetext {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
}
.bridgetextnext {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 14px;
  line-height: 2;
}
.olig-logo {
  min-width: 64px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  margin-right: 24px;
}
.footer-bg-color {
  background: #232d33;
}
.addressknowde {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 14px;
}
.oligonline {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}
.oligonline:hover {
  text-decoration: none;
  color: #ffffff;
}
.start {
  padding: 1%;
}
.nwco {
  margin-top: 7%;
  margin-bottom: 7%;
  display: flex;
  flex-direction: column;
}
/* .nc {
} */
@media only screen and (max-width: 1200px) {
  .main-modal {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 900px) {
  .sss {
    display: flex;
    flex-direction: column;
  }
}
.newsepic {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  .newsepic {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}
.new {
  width: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}
@media only screen and (max-width: 1300px) {
  .new {
    width: 15%;
    margin-top: 7%;
    margin-bottom: 7%;
  }
}
@media only screen and (max-width: 1100px) {
  .new {
    width: 15%;
    margin-top: 10%;
    margin-bottom: 0%;
  }
}
@media only screen and (max-width: 990px) {
  .new {
    width: 15%;
    margin-top: 20%;
    margin-bottom: 5%;
  }
}
.second-nav {
  background-image: linear-gradient(92deg, #ffffff, #ffffff);
  top: 50px;
}
.trr {
  display: none;
}
@media only screen and (max-width: 990px) {
  .ulbutton {
    display: none;
  }
}
@media only screen and (max-width: 990px) {
  .trr {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }
  @media only screen and (max-width: 500px) {
    .trr {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  select {
    width: 100%;
  }
  /* .optext {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
} */
  .form-control {
    border: 1px solid #00a99d;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
  }
  .form-control:focus {
    outline: none;
  }

  /* // Medium devices (tablets, 768px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .form-control {
      width: 30rem;
    }

    .new {
      width: 15%;
      margin-top: 30%;
      margin-bottom: 5%;
    }

    .knowde-second {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .knowd-sec {
      display: block;
      width: 100%;
      text-align: center;
    }

    .knowd-third {
      padding-left: 10%;
    }

    .knowd-sec p {
      margin-bottom: 7px;
    }

    .welcome-container {
      width: 100%;
      text-align: center;
    }

    .welcome-container p {
      margin-bottom: 0px;
    }
    .sepi-container {
      padding-top: 10%;
      padding-bottom: 15%;
    }

    .newbutton-container {
      margin-bottom: -16px;
      margin-top: 0px;
    }
  }

  /* // Small devices (landscape phones, 576px and up) */
  @media (max-width: 575.98px) {
    .form-control {
      width: 20rem;
    }

    .main-modal {
      display: none;
    }

    .stext {
      margin-left: 100px;
    }

    .knowde {
      padding-top: 5px;
    }

    .new {
      width: 20%;
      margin-top: 200px;
      margin-right: 8%;
    }

    .knowd-sec {
      display: block;
      width: 100%;
      text-align: center;
    }

    .knowd-sec p {
      margin-bottom: 7px;
    }

    .knowd-third {
      padding-left: 5%;
    }

    .welcome-container {
      width: 100%;
      text-align: center;
    }

    .welcome-container p {
      margin-bottom: 0px;
    }

    .sepi-container {
      padding-top: 0%;
      padding-bottom: 10%;
    }

    .sepi-icon {
      height: 80px;
      width: 80px;
    }

    .newbutton-container {
      margin-top: 0px;
    }

    /* --------- addess with logo title ------------ */

    .contactcc {
      display: block;
    }
    .bridgetext {
      padding: 20px 0px;
    }
  }
  .hfooter {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  @media (min-width: 776px) and (max-width: 1000px) {
    .hfooter {
      padding-bottom: 100px;
    }
  }
  @media (min-width: 400px) and (max-width: 776px) {
    .hfooter {
      padding-bottom: 120px;
    }
  }
  @media (min-width: 0px) and (max-width: 400px) {
    .hfooter {
      padding-bottom: 120px;
    }
  }
  .oligo {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #000000;
  }
  @media (min-width: 0px) and (max-width: 1000px) {
    .knowd-third {
      display: none;
    }
    #drp {
      display: inline;
      margin-left: 0%;
    }

    .dropdown-toggle::after {
      display: none;
    }

    .navbar {
      overflow: initial;
    }

    .sign-button {
      padding: 5px 10px;
    }

    .dropdown-menu.show {
      margin-left: -230px;
    }

    .dropdown-menu.show a {
      display: block;
    }
  }

  .dropdown-menu.show {
    width: 300px;
    text-align: right;
    padding: 10px 20px;
    border-radius: 10px;
  }

  .dropdown-menu.show a {
    padding: 10px 0px;
  }

  .burger {
    width: 16px;
    height: 2px;
    background-color: #000000;
    margin: 3px 0;
  }

  #sel1 {
    border-radius: 20px;
    height: 40px;
  }

  .optext {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    width: 80px !important;
    color: #000000;
  }
  @media (min-width: 770px) and (max-width: 990px) {
    .mediasign {
      padding-left: 75%;
    }
  }
  @media (min-width: 700px) and (max-width: 770px) {
    .mediasign {
      padding-left: 75%;
    }
  }
  @media (min-width: 575px) and (max-width: 700px) {
    .mediasign {
      padding-left: 70%;
    }
  }
  @media (min-width: 520px) and (max-width: 575px) {
    .mediasign {
      padding-left: 52%;
    }
  }
  @media (min-width: 440px) and (max-width: 520px) {
    .mediasign {
      padding-left: 40%;
    }
  }
  @media (min-width: 375px) and (max-width: 440px) {
    .mediasign {
      padding-left: 50%;
      margin-left: -70px;
    }
  }
  @media (min-width: 340px) and (max-width: 375px) {
    .mediasign {
      padding-left: 50%;
      margin-left: -80px;
    }
  }
  @media (min-width: 320px) and (max-width: 340px) {
    .mediasign {
      padding-left: 42%;
      margin-left: -80px;
    }
  }
  .dropOwn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 43px;
    width: 43rem;
    padding-left: 20px;
    background-color: #ffffff;
    border: 1px solid #00a99d;
    border-radius: 25px;
    position: relative;
    color: black;
    font-weight: 600;
  }
  .dropdown .btn:focus {
    outline: none;
    box-shadow: none;
  }

  .hmenu a {
    text-align: left;
  }

  .hmenu.show {
    background-color: #fff;
    margin-left: 10px;
    width: 43rem;
  }

  .hmenu.show a {
    text-decoration: none;
    color: black;
  }
  .libone {
    text-decoration: none;
    color: black;
    font-weight: 600;
  }

  .hmenu.show a i {
    padding-right: 10px;
  }
  @media (min-width: 770px) and (max-width: 990px) {
    .dropOwn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;
      height: 43px;
      width: 44rem;
      background-color: #ffffff;
      border: 1px solid #00a99d;
      border-radius: 25px;
      position: relative;
      color: black;
      font-weight: 600;
    }
    .hmenu.show {
      background-color: #fff;
      margin-left: 10px;
      width: 44rem;
    }
  }
  @media (min-width: 550px) and (max-width: 770px) {
    .dropOwn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;
      height: 43px;
      width: 33rem;
      background-color: #ffffff;
      border: 1px solid #00a99d;
      border-radius: 25px;
      position: relative;
      color: black;
      font-weight: 600;
    }
    .hmenu.show {
      background-color: #fff;
      margin-left: 10px;
      width: 33rem;
    }
  }
  @media (min-width: 450px) and (max-width: 550px) {
    .dropOwn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;
      height: 43px;
      width: 28rem;
      background-color: #ffffff;
      border: 1px solid #00a99d;
      border-radius: 25px;
      position: relative;
      color: black;
      font-weight: 600;
    }
    .hmenu.show {
      background-color: #fff;
      margin-left: 10px;
      width: 28rem;
    }
  }
  @media (min-width: 390px) and (max-width: 450px) {
    .dropOwn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;
      height: 40px;
      width: 23rem;
      background-color: #ffffff;
      border: 1px solid #00a99d;
      border-radius: 25px;
      position: relative;
      color: black;
      font-weight: 600;
    }
    .hmenu.show {
      background-color: #fff;
      margin-left: 10px;
      width: 23rem;
    }
  }
  @media (min-width: 320px) and (max-width: 390px) {
    .dropOwn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;
      height: 40px;
      width: 18rem;
      background-color: #ffffff;
      border: 1px solid #00a99d;
      border-radius: 25px;
      position: relative;
      color: black;
      font-weight: 600;
    }
    .hmenu.show {
      background-color: #fff;
      margin-left: 10px;
      width: 18rem;
    }
  }
  @media (min-width: 0px) and (max-width: 320px) {
    .dropOwn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20px;
      height: 40px;
      width: 13rem;
      background-color: #ffffff;
      border: 1px solid #00a99d;
      border-radius: 25px;
      position: relative;
      color: black;
      font-weight: 600;
    }
    .hmenu.show {
      background-color: #fff;
      margin-left: 10px;
      width: 13rem;
    }
  }
}
@media (min-width: 0px) and (max-width: 576px) {
  .privacya {
    display: none;
  }
  .privacyb {
    display: block;
  }
  .newfc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
